# Maven / Spring
target/                       # ignore tous les builds
.mvn/wrapper/maven-wrapper.jar # laissons le wrapper pour CI/dev
.mvn/wrapper/maven-wrapper.properties

# IDE
.idea/
*.iml
.vscode/

# Angular / Node
node_modules/
dist/
.angular/

# Logs & errors
npm-debug.log*
yarn-error.log*

# Secrets / env
.env
.env.local
.env.production
application-dev.yaml
application-prod.yaml
