spring:
  datasource:
    url: jdbc:mysql://localhost:3306/securecapita
    username: root
    password:

  jpa:
    database-platform: org.hibernate.dialect.MariaDBDialect
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        globally_quoted_identifiers: true
        format_sql: true
        jdbc:
          time_zone: UTC

  sql:
    init:
      mode: never
      continue-on-error: false

logging:
  level:
    org.springframework.jdbc.core: DEBUG
    org.springframework: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
